/iar/FLASH
/se
/iar/settings
/iar_mac_lib/FLASH
/iar_mac_lib/settings
/iar_mac_lib/cspycomm.log
/iar_mac_phy/FLASH
/iar_mac_phy/settings
/iar_mac_phy/cspycomm.log
/iar_proj/FLASH
/iar_proj/settings
/iar_proj/cspycomm.log
/iar_DM750/FLASH
/iar_DM750/*.log
/config
/iar_DM750/settings
.vscode/c_cpp_properties.json
/iar_hrf/FLASH
/iar_hrf/.metadata
/iar/.metadata
/iar_hrf/settings
/.metadata/
/.history
/iar_hrf_zb205/FLASH
/iar_hrf_zb205/settings
/iar_hrf_zb206/FLASH
/iar_hrf_zb206/settings